body {
    padding: 0 100px;
    padding-bottom: 50px;
    font-family: sans-serif;
}

footer {
    height: 200px;
    display: block;
    width: 100%;
}

h3 {
    padding: 0;
    margin: 0;
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 262px;
    width: 175px;
    border: 2px solid;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 1rem -0.5rem;
    white-space: break-spaces;
}

.container {
    margin-top: 50px;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 25px;
}

.price {
    align-self: flex-end;
}

.productImg {
    display: block;
    max-height: 140px;
    align-self: center;
}

.rowCenter {
    display: flex;
    justify-content: center;
}

.colCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories button {
    padding: 6px;
    color: white;
    background: #78b978;
    border: 0;
    border-radius: 6px;
}

.categories {
    flex-wrap: wrap;
    gap: 4px;
    margin: 4px;
}

button[active] {
    background: cornflowerblue;
}